@using Session2_PhonebookWebApp.Models
@model UserData

@using (@Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <span>UserName:</span> @Html.TextBoxFor(m => m.UserName)
    <input type="submit" value="Submit" />
}
