<!-- ko with: home -->
<div class="row">
    <div class="col-md-12">
        <h2 data-bind="text: header"></h2>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Device Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: phoneData">
            <tr>
                <td data-bind="text: brand"></td>
                <td data-bind="text: deviceName"></td>
                <td data-bind="text: status"></td>
                <td data-bind="text: type"></td>
                <td data-bind="text: price"></td>
                <td>
                    <!-- ko if: isAddedInCart() -->
                        <button class="btn btn-success" data-bind="click: $parent.removeFromCart.bind($data)">Remove from cart</button>
                    <!-- /ko -->
                    <!-- ko if: !isAddedInCart() -->
                        <button class="btn btn-primary" data-bind="click: $parent.addToCart.bind($data)">Add to cart</button>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /ko -->
