@using Session2_PhonebookWebApp.Models
@model UserPhoneBookDB

@using (@Html.BeginForm("Delete", "PhoneBook", FormMethod.Post))
{
    <span>UserId to delete:</span> @Html.TextBoxFor(m => m.UserId)
    <span>PersonId to delete:</span> @Html.TextBoxFor(m => m.PersonId)
    <input type="submit" value="Submit" />
}


