@using Session2_PhonebookWebApp.Models
@model UserPhoneBookDB

@using (@Html.BeginForm("Update", "PhoneBook", FormMethod.Post))
{
    <span>UserId to Update:</span> @Html.TextBoxFor(m => m.UserId)
    <span>PersonId to update:</span> @Html.TextBoxFor(m => m.PersonId)
    <span>NewPersonId:</span> @Html.TextBoxFor(m => m.NewPersonId)
    <input type="submit" value="Submit" />
}

