@using Session2_PhonebookWebApp.Models
@model UserData

@using (@Html.BeginForm("Update", "Home", FormMethod.Post))
{
    <span>UserId to update:</span> @Html.TextBoxFor(m => m.UserId)
    <span>New UserName:</span> @Html.TextBoxFor(m => m.UserName)
    <input type="submit" value="Submit" />
}
